header {
  padding: 14px 20px;
  border-bottom:1px solid rgba(232,90,138,0.15);
  background: var(--bg);
 position:sticky;
 top:0;
  z-index: 3;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 35px;
}
.header-logo{
    color: var(--pink);
    font-family: serif;
    font-size:26px;
    letter-spacing: -0.5px;
    font-family:"Playfair Display", serif;
}
.header-logo span{
    font-weight: 900;
}
.nav-lists {
  display: none;
  font-family: "DM Sans", sans-serif;
  text-transform: uppercase;
  color: #aaa;
  font-size:12px;
  letter-spacing: 0.12em;
  font-weight: 500;
}
.hireme-btn{
    border-radius:30px;
    padding:7px 16px;
    cursor: pointer;
    font-family: 'DM Sans', sans-serif;
    border:1px solid var(--pink);
    background: inherit;
    color:var(--pink)

}
@media screen and (min-width: 768px) {
  .nav-lists {
    display: flex;
    gap:40px;
  }
}
@media screen and (min-width: 1024px) {
  header {
    padding: 16px 60px;
  }
}
